# Expo
.expo/
dist/
web-build/

# Node
node_modules/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# EAS
eas-build-pre-install.sh
eas-build-post-install.sh
